@import "tailwindcss";

:root {
  --background: #F2F2F2;
  --foreground: #171717;
}
#__next-build-watcher,
nextjs-portal,
nextjs-portal div[role="alert"],
nextjs-portal *[data-nextjs-error-overlay] {
  display: none !important;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body, html {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
